@{
    ViewBag.Title = "亿品小助手";
}

@section scripts{
    <script>
        require(["dojo/dom", "dijit/registry", "dojo/on", "dojo/ready", "dojo/parser"], function (dom, registry, on, ready) {
            //on(registry.byId("btn1"), "click", function () {
            //    console.log(new Date(), "我被点了");
            //});


            //ready(function () {

            //    var w1 = registry.byId("btn1");

            //    w1.on("click", function () {
            //        alert(1);
            //    });
            //});


        });//require
    </script>
}


<div class="page">
    <ul>
        <li><a href="/">订单流水按区域提取</a></li>
    </ul>
</div>

@*<button id="btn1" data-dojo-type="dijit/form/Button">点我试试</button>*@